Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit --audit-level=moderate

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "npm audit --audit-level=moderate"
  ]
}

fix: Fix CSP blocking Supabase API and expand test coverage
  .claude/settings.local.json
  2025-11-19_17-19-58.png
  2025-11-19_17-20-37.png
  2025-11-19_17-46-49.png
  apps/wifivigilante/index.html
  packages/web-foundation/src/components/ContactForm.minimal.test.tsx
  packages/web-foundation/src/components/ContactForm.test.tsx
  packages/web-foundation/src/components/ui/Button.test.tsx
  packages/web-foundation/src/components/ui/Input.test.tsx
  packages/web-foundation/src/components/ui/Typography.test.tsx
  packages/web-foundation/src/hooks/useTelemetry.test.ts
  packages/web-foundation/test-debug.tsx
Due: eslint --fix, prettier --write

fix: Fix ESLint and TypeScript errors in test files
  .claude/settings.local.json
  packages/web-foundation/src/components/ContactForm.minimal.test.tsx
  packages/web-foundation/src/components/ContactForm.test.tsx
  packages/web-foundation/src/components/ui/Button.test.tsx
  packages/web-foundation/src/hooks/useTelemetry.test.ts
Due: eslint --fix, prettier --write

feat: Improve navbar hover state visibility across all themes
  packages/web-foundation/src/context/ThemeContext.tsx
Due: eslint --fix, prettier --write

fix: Sync CSS hover and active colors with ThemeContext
  apps/intrinsic/src/index.css
  apps/intrinsic/src/shared-tokens.css
  apps/wifivigilante/src/index.css
  apps/wifivigilante/src/shared-tokens.css
Due: none

test: Improve ContactForm test mocks and skip async tests
  packages/web-foundation/src/components/ContactForm.test.tsx
Due: eslint --fix, prettier --write

test: Skip ContactForm.minimal.test.tsx async test
  packages/web-foundation/src/components/ContactForm.minimal.test.tsx
Due: eslint --fix, prettier --write

feat: Add Playwright E2E tests and restore documentation
  .claude/settings.local.json
  ARCHITECTURE.md
  CHANGELOG.md
  THEMING.md
  apps/intrinsic/CHANGELOG.md
  apps/krisarmstrong/CHANGELOG.md
  apps/wifivigilante/CHANGELOG.md
  apps/wifivigilante/src/components/Navbar.tsx
  apps/wifivigilante/src/index.css
  e2e/intrinsic/smoke.spec.ts
  e2e/krisarmstrong/smoke.spec.ts
  e2e/wifivigilante/smoke.spec.ts
  package-lock.json
  package.json
  packages/web-foundation/src/context/ThemeContext.tsx
  packages/web-foundation/src/tokens.ts
  playwright.config.ts
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

chore: Bump version to 1.2.0
  package.json
Due: prettier --write, npm audit --audit-level=moderate

refactor: Migrate to CSS-first theming with Tailwind v4 @theme
  .claude/settings.local.json
  CSS-MIGRATION-PLAN.md
  apps/intrinsic/src/__tests__/Navbar.test.tsx
  apps/intrinsic/src/components/Navbar.tsx
  apps/intrinsic/src/index.css
  apps/intrinsic/src/main.tsx
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/src/index.css
  apps/krisarmstrong/src/main.tsx
  apps/krisarmstrong/src/shared-tokens.css
  apps/wifivigilante/src/components/Navbar.tsx
  apps/wifivigilante/src/index.css
  apps/wifivigilante/src/main.tsx
  packages/web-foundation/src/components/Footer.tsx
  packages/web-foundation/src/components/Navbar.tsx
  packages/web-foundation/src/components/PrimaryNav.tsx
  packages/web-foundation/src/components/ThemeToggle.tsx
  packages/web-foundation/src/context/ThemeContext.test.tsx
  packages/web-foundation/src/context/ThemeContext.tsx
  packages/web-foundation/src/hooks/useTheme.ts
  packages/web-foundation/src/index.ts
  packages/web-foundation/src/tokens.ts
Due: eslint --fix, prettier --write

chore: Bump version to 1.3.0
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: Move Google Fonts to HTML to resolve PostCSS @import errors
  .claude/settings.local.json
  apps/intrinsic/index.html
  apps/intrinsic/src/index.css
  apps/krisarmstrong/index.html
  apps/wifivigilante/index.html
  package-lock.json
  package.json
  packages/web-foundation/src/base.css
Due: prettier --write, npm audit --audit-level=moderate

chore: Update npm devDependency to latest version (11.6.2)
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

chore: Update @semantic-release/npm to latest (13.1.2)
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

docs: Add comprehensive versioning and semantic-release guide
  README.md
Due: prettier --write

refactor: Standardize navbar implementation across all sites
  apps/intrinsic/src/components/Navbar.tsx
  apps/intrinsic/src/index.css
  apps/intrinsic/src/styles/navbar-mobile-fix.css
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/tests/Navbar.test.tsx
  packages/web-foundation/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

fix: Remove legacy Tailwind v3 config files to fix responsive utilities
  .claude/settings.local.json
  apps/intrinsic/src/App.css
  apps/intrinsic/src/components/Navbar.tsx
  apps/intrinsic/src/config/navigation.tsx
  apps/intrinsic/src/design-enhancements.css
  apps/intrinsic/src/index.css
  apps/intrinsic/src/shared-tokens.css
  apps/intrinsic/tailwind.config.js
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/tailwind.config.js
  apps/wifivigilante/index.html
  apps/wifivigilante/src/components/Navbar.tsx
  apps/wifivigilante/src/shared-tokens.css
  apps/wifivigilante/tailwind.config.js
  package-lock.json
  packages/web-foundation/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

refactor: Align base.css with Tailwind v4 best practices
  packages/web-foundation/src/base.css
Due: none

fix: Standardize navbar typography and CSS across all sites
  apps/intrinsic/src/__tests__/Navbar.test.tsx
  apps/intrinsic/src/components/Navbar.tsx
  apps/krisarmstrong/src/index.css
  apps/krisarmstrong/tests/Navbar.test.tsx
  apps/wifivigilante/src/components/Navbar.tsx
  apps/wifivigilante/src/index.css
Due: eslint --fix, prettier --write

chore: Bump version to 1.3.3 - navbar consistency fixes
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

fix: Perfect navbar consistency across all sites
  apps/intrinsic/src/components/Navbar.tsx
  apps/krisarmstrong/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

refactor: Standardize footer implementations across all sites
  apps/intrinsic/src/components/Footer.tsx
  apps/intrinsic/src/config/navigation.tsx
  apps/krisarmstrong/src/components/Footer.tsx
  apps/krisarmstrong/src/config/navigation.tsx
  apps/wifivigilante/src/components/Footer.tsx
  apps/wifivigilante/src/config/navigation.tsx
Due: eslint --fix, prettier --write
