Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["npx audit-ci --config audit-ci.json"]
}

fix: Further darken light mode and make ContentCard fully clickable
  apps/krisarmstrong/src/index.css
  apps/wifivigilante/src/index.css
  packages/web-foundation/src/components/ContentCard.tsx
Due: eslint --fix, prettier --write

chore: Enforce coverage and clean audit allowlist
  .github/ISSUES/01-CRITICAL-security-vulnerabilities.md
  .github/ISSUES/02-CRITICAL-theme-standardization.md
  .github/ISSUES/03-CRITICAL-intrinsic-security-plugins.md
  .github/ISSUES/04-HIGH-eslint-standardization.md
  .github/ISSUES/05-HIGH-code-duplication-validation.md
  .github/ISSUES/06-HIGH-shared-build-configs.md
  .github/ISSUES/07-HIGH-test-coverage.md
  .github/ISSUES/08-MEDIUM-typescript-strictness.md
  .github/ISSUES/09-MEDIUM-shared-test-utilities.md
  .github/ISSUES/10-MEDIUM-documentation-restoration.md
  .github/ISSUES/11-LOW-code-style-consistency.md
  .github/workflows/ci.yml
  .nvmrc
  AUDIT-EXCEPTIONS.md
  README.md
  SETUP.md
  apps/intrinsic/public/IntrinsicMomentumMindse-logo-512x512t.png
  apps/intrinsic/public/IntrinsicMomentumMindse-logo-512x512t.svg
  apps/intrinsic/public/Kris_Armstrong-logo-512x512.png
  apps/intrinsic/public/Kris_Armstrong-logo-512x512.svg
  apps/intrinsic/public/Wi-Fi-Vigilanti-logo-512x512.png
  apps/intrinsic/public/Wi-Fi-Vigilanti-logo-512x512.svg
  apps/krisarmstrong/package-lock.json
  apps/krisarmstrong/public/IntrinsicMomentumMindse-logo-512x512t.png
  apps/krisarmstrong/public/Kris_Armstrong-logo-512x512.png
  apps/krisarmstrong/public/Kris_Armstrong-logo-512x512.svg
  apps/krisarmstrong/public/Wi-Fi-Vigilanti-logo-512x512.png
  apps/krisarmstrong/public/Wi-Fi-Vigilanti-logo-512x512.svg
  apps/krisarmstrong/src/index.css
  apps/wifivigilante/package-lock.json
  apps/wifivigilante/public/IntrinsicMomentumMindse-logo-512x512t.png
  apps/wifivigilante/public/Kris_Armstrong-logo-512x512.png
  apps/wifivigilante/public/logo.svg
  apps/wifivigilante/src/components/CaseDisplay.tsx
  apps/wifivigilante/src/index.css
  apps/wifivigilante/src/pages/Home.tsx
  audit-ci.json
  package.json
  packages/web-foundation/src/components/ContentSearch.tsx
  turbo.json
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

chore: Dedupe download import in wifivigilante
  apps/wifivigilante/src/components/CaseDisplay.tsx
Due: eslint --fix, prettier --write

chore: Stabilize contact form updates and add test-utils coverage
  apps/wifivigilante/vite.config.ts
  packages/web-foundation/src/components/ContactForm.tsx
  packages/web-foundation/src/test-utils/index.test.tsx
Due: eslint --fix, prettier --write

chore: Clean public assets per app
  apps/intrinsic/public/IntrinsicMomentumMindse-logo-512x512t.svg
  apps/intrinsic/public/Kris_Armstrong-logo-512x512.png
  apps/intrinsic/public/Kris_Armstrong-logo-512x512.svg
  apps/intrinsic/public/Wi-Fi-Vigilanti-logo-512x512.png
  apps/intrinsic/public/Wi-Fi-Vigilanti-logo-512x512.svg
  apps/wifivigilante/public/IntrinsicMomentumMindse-logo-512x512t.png
  apps/wifivigilante/public/Kris_Armstrong-logo-512x512.png
Due: none

chore: Remove case downloads, add skip links, lazy pdf deps
  apps/intrinsic/src/Layout.tsx
  apps/krisarmstrong/src/Layout.tsx
  apps/wifivigilante/src/Layout.tsx
  apps/wifivigilante/src/components/CaseDisplay.tsx
  apps/wifivigilante/src/utils/download.ts
  apps/wifivigilante/vite.config.ts
Due: eslint --fix, prettier --write

chore: Add share buttons to blog posts
  apps/krisarmstrong/src/lib/share.ts
  apps/krisarmstrong/src/pages/BlogPost.tsx
Due: eslint --fix, prettier --write

chore: Silence test noise and add OG meta tags
  apps/intrinsic/index.html
  apps/krisarmstrong/index.html
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/krisarmstrong/tests/Resume.test.tsx
  apps/wifivigilante/index.html
Due: eslint --fix, prettier --write

feat: Align intrinsic app with updated design system
  apps/intrinsic/src/index.css
  apps/intrinsic/src/pages/About.tsx
  apps/intrinsic/src/pages/Contact.tsx
  apps/intrinsic/src/pages/Home.tsx
  apps/intrinsic/src/pages/NotFound.tsx
  apps/intrinsic/src/pages/PrivacyPolicy.tsx
  apps/intrinsic/src/pages/Services.tsx
  apps/intrinsic/src/pages/TermsOfService.tsx
  apps/intrinsic/src/utils/sentry.ts
Due: eslint --fix, prettier --write

chore: Tighten dark-mode overlays and ignore Claude settings
  .claude/settings.local.json
  .gitignore
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/krisarmstrong/src/pages/Home.tsx
  apps/wifivigilante/src/pages/Home.tsx
Due: eslint --fix, prettier --write

chore(wifivigilante): Add SEO tag helper
  apps/wifivigilante/src/lib/seo.ts
Due: eslint --fix, prettier --write

fix: enable real search filtering and soften light surfaces
  apps/krisarmstrong/src/index.css
  apps/krisarmstrong/src/pages/Blog.tsx
  apps/wifivigilante/src/index.css
  apps/wifivigilante/src/pages/CaseOverview.tsx
  packages/web-foundation/src/components/ContentSearch.tsx
Due: eslint --fix, prettier --write

feat: allow multi-tag filtering on blog and cases
  apps/krisarmstrong/src/pages/Blog.tsx
  apps/wifivigilante/src/pages/CaseOverview.tsx
Due: eslint --fix, prettier --write

chore: Harden intrinsic linting (closes #66)
  apps/intrinsic/eslint.config.js
  apps/intrinsic/package.json
  apps/intrinsic/scripts/token-usage-test.cjs
  apps/intrinsic/scripts/token-usage-test.cts
  apps/intrinsic/scripts/token-usage-test.js
  apps/intrinsic/scripts/token-usage-test.ts
  apps/intrinsic/scripts/weekly-health-aggregator.ts
  apps/intrinsic/src/__tests__/smoke.test.tsx
  apps/intrinsic/src/pages/__tests__/About.test.tsx
  apps/intrinsic/src/pages/__tests__/Home.test.tsx
  apps/intrinsic/src/pages/__tests__/Services.test.tsx
  apps/intrinsic/src/utils/sentry.ts
  apps/intrinsic/tsconfig.eslint.json
  eslint.config.base.js
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

chore: Solidify lint coverage and clean scripts
  apps/intrinsic/tsconfig.json
  apps/krisarmstrong/legacy-scripts/generate-2025-posts.js
  apps/krisarmstrong/legacy-scripts/generate-ALL-2025-posts.js
  apps/krisarmstrong/legacy-scripts/generate-all-remaining-posts.js
  apps/krisarmstrong/legacy-scripts/generate-remaining-posts.js
  apps/krisarmstrong/legacy-scripts/migrate-blog-to-supabase.js
  apps/krisarmstrong/legacy-scripts/upload-2021-posts.js
  apps/krisarmstrong/legacy-scripts/upload-2022-posts.js
  apps/krisarmstrong/legacy-scripts/upload-2023-posts.js
  apps/krisarmstrong/legacy-scripts/upload-new-2024-2025-posts.js
  apps/krisarmstrong/scripts/generate-blog-metadata.js
  apps/krisarmstrong/src/lib/share.ts
  apps/krisarmstrong/src/pages/Blog.tsx
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/krisarmstrong/src/utils/sentry.ts
  apps/wifivigilante/src/components/CaseDisplay.tsx
  apps/wifivigilante/src/components/CaseFilters.tsx
  apps/wifivigilante/src/pages/CaseDetail.tsx
  apps/wifivigilante/src/pages/CaseOfTheDay.tsx
  apps/wifivigilante/src/pages/CaseOverview.tsx
  apps/wifivigilante/src/tests/validation.test.ts
  apps/wifivigilante/src/types/index.ts
  apps/wifivigilante/src/utils/logger.ts
  apps/wifivigilante/src/utils/webVitals.ts
  eslint.config.base.js
  packages/web-foundation/src/components/AggregateRating.tsx
  packages/web-foundation/src/components/ContactForm.test.tsx
  packages/web-foundation/src/components/ContactForm.tsx
  packages/web-foundation/src/components/ContentCard.tsx
  packages/web-foundation/src/components/ContentSearch.tsx
  packages/web-foundation/src/components/SiteSearch.tsx
  packages/web-foundation/src/components/ui/Button.test.tsx
  packages/web-foundation/src/utils/env.ts
  tsconfig.base.json
Due: eslint --fix, prettier --write

chore: Remove legacy scripts
  apps/krisarmstrong/legacy-scripts/NEW-POSTS-2024-2025-METADATA.js
  apps/krisarmstrong/legacy-scripts/README.md
  apps/krisarmstrong/legacy-scripts/a11y-smoke.js
  apps/krisarmstrong/legacy-scripts/check-vlan-posts.js
  apps/krisarmstrong/legacy-scripts/generate-2025-posts.js
  apps/krisarmstrong/legacy-scripts/generate-ALL-2025-posts.js
  apps/krisarmstrong/legacy-scripts/generate-all-remaining-posts.js
  apps/krisarmstrong/legacy-scripts/generate-final-posts.sh
  apps/krisarmstrong/legacy-scripts/generate-remaining-posts.js
  apps/krisarmstrong/legacy-scripts/migrate-blog-to-supabase.js
  apps/krisarmstrong/legacy-scripts/query-existing-posts.js
  apps/krisarmstrong/legacy-scripts/security-audit-local.js
  apps/krisarmstrong/legacy-scripts/smoke.sh
  apps/krisarmstrong/legacy-scripts/token-usage-test.cjs
  apps/krisarmstrong/legacy-scripts/token-usage-test.js
  apps/krisarmstrong/legacy-scripts/upload-2021-posts.js
  apps/krisarmstrong/legacy-scripts/upload-2022-posts.js
  apps/krisarmstrong/legacy-scripts/upload-2023-posts.js
  apps/krisarmstrong/legacy-scripts/upload-new-2024-2025-posts.js
  apps/krisarmstrong/legacy-scripts/upload-vlan-posts-part2.js
  apps/krisarmstrong/legacy-scripts/upload-vlan-posts.js
  apps/krisarmstrong/legacy-scripts/weekly-health-aggregator.js
Due: eslint --fix, prettier --write

chore: Align cases and blog discovery ux
  apps/krisarmstrong/src/pages/Blog.tsx
  apps/wifivigilante/src/pages/CaseOverview.tsx
Due: eslint --fix, prettier --write

chore: Improve rating visuals and clickable affordances
  apps/krisarmstrong/src/pages/Blog.tsx
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/wifivigilante/src/components/CaseDisplay.tsx
  packages/web-foundation/src/components/AggregateRating.tsx
Due: eslint --fix, prettier --write

chore: Refine link affordances without global underlines
  packages/web-foundation/src/base.css
Due: none

chore: Polish detail pages and interactions
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/wifivigilante/src/components/CaseDisplay.tsx
  packages/web-foundation/src/components/AggregateRating.tsx
  packages/web-foundation/src/components/ContentCard.tsx
Due: eslint --fix, prettier --write

chore: Polish clickable affordances and resume layout
  .github/ISSUES/13-CLOSED-clickable-affordances.md
  apps/krisarmstrong/package.json
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/krisarmstrong/src/pages/Resume.tsx
  apps/wifivigilante/package.json
  apps/wifivigilante/src/components/CaseDisplay.tsx
  package.json
  packages/web-foundation/src/base.css
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json
