Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit --audit-level=moderate

feat: standardize theme system across all apps
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/src/index.css
  apps/krisarmstrong/src/main.tsx
  apps/krisarmstrong/src/shared-tokens.css
  apps/wifivigilante/src/main.tsx
  packages/web-foundation/src/context/ThemeContext.tsx
  packages/web-foundation/src/index.ts
Due: eslint --fix, prettier --write

refactor: centralize base styles and theme toggle component
  apps/intrinsic/src/components/Navbar.tsx
  apps/intrinsic/src/index.css
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/src/index.css
  apps/wifivigilante/src/components/Navbar.tsx
  apps/wifivigilante/src/index.css
  packages/web-foundation/package.json
  packages/web-foundation/src/base.css
  packages/web-foundation/src/components/ThemeToggle.tsx
  packages/web-foundation/src/index.ts
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

refactor: eliminate CSS @theme blocks for JavaScript-only theming
  apps/intrinsic/src/index.css
  apps/wifivigilante/src/index.css
Due: none

Revert "refactor: eliminate CSS @theme blocks for JavaScript-only theming"
  apps/intrinsic/src/index.css
  apps/wifivigilante/src/index.css
Due: none

fix: resolve critical security and tooling issues
  .github/workflows/ci.yml
  eslint.config.js
  package.json
  src/context/ThemeContext.tsx
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

refactor(config): add shared ESLint base configuration
  apps/intrinsic/eslint.config.js
  apps/krisarmstrong/eslint.config.js
  apps/krisarmstrong/package.json
  apps/wifivigilante/eslint.config.js
  apps/wifivigilante/package.json
  eslint.config.base.js
  eslint.config.js
  package.json
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

refactor(validation): consolidate validation utilities in web-foundation
  apps/intrinsic/src/utils/validation.ts
  apps/wifivigilante/src/utils/validation.ts
  packages/web-foundation/src/index.ts
  packages/web-foundation/src/utils/validation.ts
Due: eslint --fix, prettier --write

refactor(build): create shared base configurations for build tools
  apps/intrinsic/tsconfig.app.json
  apps/intrinsic/vite.config.ts
  apps/intrinsic/vitest.config.ts
  apps/krisarmstrong/tsconfig.json
  apps/krisarmstrong/vite.config.ts
  apps/krisarmstrong/vitest.config.ts
  apps/wifivigilante/tsconfig.json
  apps/wifivigilante/vite.config.ts
  apps/wifivigilante/vitest.config.ts
  tsconfig.base.json
  vite.config.base.ts
  vitest.config.base.ts
Due: eslint --fix, prettier --write

feat(testing): Add comprehensive test coverage infrastructure
  apps/intrinsic/src/utils/__tests__/validation.test.ts
  apps/krisarmstrong/vitest.config.ts
  apps/wifivigilante/src/tests/validation.test.ts
  apps/wifivigilante/vitest.config.ts
  package.json
  packages/web-foundation/src/utils/validation.ts
  packages/web-foundation/vitest.config.ts
  vitest.config.base.ts
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

chore: Add conversation files to gitignore to prevent token leaks
  .gitignore
Due: none

refactor(typescript): Standardize TypeScript configuration across monorepo
  packages/web-foundation/tsconfig.json
Due: prettier --write

chore: Bump version to 1.1.1
  package.json
Due: prettier --write, npm audit --audit-level=moderate

feat: Add shared test utilities to reduce code duplication
  apps/intrinsic/src/__tests__/setup.ts
  package-lock.json
  packages/web-foundation/package.json
  packages/web-foundation/src/test-utils/index.ts
  packages/web-foundation/tsconfig.json
  packages/web-foundation/tsup.config.ts
  packages/web-foundation/vitest.setup.ts
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

fix: Clear localStorage in ThemeContext tests to prevent test pollution
  packages/web-foundation/src/context/ThemeContext.test.tsx
Due: eslint --fix, prettier --write

fix: Enable 52 skipped tests across all apps
  apps/intrinsic/src/__tests__/Navbar.test.tsx
  apps/krisarmstrong/tests/Blog.test.tsx
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/krisarmstrong/tests/Contact.test.tsx
  apps/krisarmstrong/tests/Navbar.test.tsx
  apps/krisarmstrong/tests/Resume.test.tsx
  apps/wifivigilante/src/tests/ErrorBoundary.test.tsx
  apps/wifivigilante/src/tests/Navbar.test.tsx
  apps/wifivigilante/src/tests/Search.test.tsx
Due: eslint --fix, prettier --write

fix: Resolve all remaining test failures (7 tests fixed)
  .claude/settings.local.json
  apps/krisarmstrong/tests/Blog.test.tsx
  apps/krisarmstrong/tests/Navbar.test.tsx
  apps/wifivigilante/src/tests/Navbar.test.tsx
Due: eslint --fix, prettier --write

docs: Add comprehensive testing guide and update README
  .claude/settings.local.json
  README.md
  TESTING.md
Due: prettier --write

fix: resolve critical security and code quality issues
  .claude/settings.local.json
  COMPREHENSIVE_REVIEW_REPORT.md
  apps/intrinsic/index.html
  apps/krisarmstrong/index.html
  apps/krisarmstrong/src/components/ErrorBoundary.tsx
  apps/wifivigilante/index.html
  apps/wifivigilante/src/components/CaseFilters.tsx
  apps/wifivigilante/src/components/ErrorBoundary.tsx
  apps/wifivigilante/src/hooks/useCaseSearch.ts
  apps/wifivigilante/src/pages/CaseDetail.tsx
  apps/wifivigilante/src/pages/CaseOfTheDay.tsx
  apps/wifivigilante/src/pages/Search.tsx
  apps/wifivigilante/src/tests/ErrorBoundary.test.tsx
  apps/wifivigilante/src/utils/recentSearches.ts
Due: eslint --fix, prettier --write

fix: add unsafe-inline to style-src for theme support
  .claude/settings.local.json
  RELEASE_PLAN.md
  apps/intrinsic/index.html
  apps/krisarmstrong/index.html
  apps/wifivigilante/index.html
Due: prettier --write

fix: Fix CSP blocking Supabase API and expand test coverage
  .claude/settings.local.json
  2025-11-19_17-19-58.png
  2025-11-19_17-20-37.png
  2025-11-19_17-46-49.png
  apps/wifivigilante/index.html
  packages/web-foundation/src/components/ContactForm.minimal.test.tsx
  packages/web-foundation/src/components/ContactForm.test.tsx
  packages/web-foundation/src/components/ui/Button.test.tsx
  packages/web-foundation/src/components/ui/Input.test.tsx
  packages/web-foundation/src/components/ui/Typography.test.tsx
  packages/web-foundation/src/hooks/useTelemetry.test.ts
  packages/web-foundation/test-debug.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,md,yml,yaml})
  npm audit --audit-level=moderate: any of: package.json
