Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

fix: clarify PoE power specs in 3 more blog posts
  apps/krisarmstrong/src/content/blog/posts/2024-2025-new/outdoor-wifi6e-campus-networks-sep2024.md
  apps/krisarmstrong/src/content/blog/posts/wifi6-two-year-retrospective-jul2022.md
  apps/krisarmstrong/src/content/blog/posts/wifi6e-deployment-experiences-jan2022.md
Due: prettier --write

fix: resolve search issues in blog and case overview pages
  .lintstagedrc.json
  apps/intrinsic/public/sitemap.xml
  apps/krisarmstrong/src/pages/Blog.tsx
  apps/wifivigilante/public/sitemap.xml
  packages/web-foundation/src/components/content/ContentSearch.tsx
  tsconfig.json
Due: tsc-files --noEmit, eslint --fix, prettier --write

fix: use VITE_SUPABASE_PUBLISHABLE_KEY for Supabase client
  apps/krisarmstrong/src/lib/supabase.ts
Due: tsc-files --noEmit, eslint --fix, prettier --write

fix: resolve web-foundation module path in wifivigilante
  apps/wifivigilante/tsconfig.json
Due: prettier --write

fix: use VITE_SUPABASE_PUBLISHABLE_KEY across all apps
  apps/krisarmstrong/.env.example
  apps/wifivigilante/.env.example
  apps/wifivigilante/src/config/env.ts
  apps/wifivigilante/src/supabaseClient.ts
  apps/wifivigilante/src/vite-env.d.ts
Due: tsc-files --noEmit, eslint --fix, prettier --write

feat: add Fuse.js fuzzy search to ContentSearch component
  package-lock.json
  packages/web-foundation/package.json
  packages/web-foundation/src/components/content/ContentSearch.tsx
  packages/web-foundation/src/components/content/index.ts
Due: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

perf: add React Query for data caching and deduplication
  apps/krisarmstrong/package.json
  apps/krisarmstrong/src/main.tsx
  apps/krisarmstrong/src/pages/Blog.tsx
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/krisarmstrong/tests/Blog.test.tsx
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/wifivigilante/package.json
  apps/wifivigilante/src/api.ts
  apps/wifivigilante/src/main.tsx
  apps/wifivigilante/src/pages/CaseDetail.tsx
  apps/wifivigilante/src/pages/CaseOverview.tsx
  package-lock.json
  packages/web-foundation/src/components/display/ContentCard.tsx
Due: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

perf: add DNS prefetch and optimize build chunking
  apps/intrinsic/public/sitemap.xml
  apps/krisarmstrong/index.html
  apps/wifivigilante/index.html
  apps/wifivigilante/public/sitemap.xml
  vite.config.base.ts
Due: tsc-files --noEmit, eslint --fix, prettier --write

fix: Add scroll restoration, improve table styling, and fix social links
  apps/intrinsic/src/Layout.tsx
  apps/krisarmstrong/package.json
  apps/krisarmstrong/src/Layout.tsx
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/wifivigilante/database/migrations/002_increase_verdict_column_size.sql
  apps/wifivigilante/src/Layout.tsx
  apps/wifivigilante/src/components/Footer.tsx
  package-lock.json
Due: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

fix: Resume page title regex and markdown link formatting
  apps/krisarmstrong/public/resume.md
  apps/krisarmstrong/src/pages/Resume.tsx
Due: tsc-files --noEmit, eslint --fix, prettier --write

fix: Update SEO metadata and fix Wi-Fi Vigilante domain references
  apps/intrinsic/index.html
  apps/wifivigilante/index.html
  apps/wifivigilante/public/robots.txt
  apps/wifivigilante/public/sitemap.xml
Due: none

chore: Update intrinsic sitemap lastmod dates
  apps/intrinsic/public/sitemap.xml
Due: none

fix: Prevent supabase module from throwing on missing env vars
  apps/wifivigilante/src/supabaseClient.ts
Due: tsc-files --noEmit, eslint --fix, prettier --write

fix: CI workflow builds web-foundation before tests, correct sitemap domain
  .github/workflows/ci.yml
  apps/wifivigilante/public/sitemap.xml
Due: prettier --write

feat: Add markdown rendering for case content with improved formatting
  apps/wifivigilante/package.json
  apps/wifivigilante/public/sitemap.xml
  apps/wifivigilante/src/components/CaseContentRenderer.tsx
  apps/wifivigilante/src/components/CaseDisplay.tsx
  package-lock.json
Due: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

refactor: Update sitemap to fetch cases from Supabase API
  apps/wifivigilante/public/sitemap.xml
  apps/wifivigilante/scripts/generate-sitemap.js
Due: eslint --fix, prettier --write

style: Improve ContentCard tag spacing for better visual breathing room
  packages/web-foundation/src/components/display/ContentCard.tsx
Due: tsc-files --noEmit, eslint --fix, prettier --write

chore: Update dependencies across all workspaces
  apps/intrinsic/package.json
  apps/intrinsic/public/sitemap.xml
  apps/krisarmstrong/package.json
  apps/wifivigilante/package.json
  apps/wifivigilante/public/sitemap.xml
  package-lock.json
  package.json
  packages/web-foundation/package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

feat: Improve codebase quality and expand testing infrastructure
  CSS-MIGRATION-PLAN.md
  apps/intrinsic/package.json
  apps/intrinsic/src/config/env.ts
  apps/krisarmstrong/package.json
  apps/krisarmstrong/src/config/env.ts
  apps/krisarmstrong/src/lib/supabase.ts
  apps/wifivigilante/package.json
  apps/wifivigilante/src/api.ts
  apps/wifivigilante/src/components/CaseContentRenderer.tsx
  package-lock.json
  packages/web-foundation/package.json
  packages/web-foundation/src/components/display/ContentCard.stories.tsx
  packages/web-foundation/src/components/feedback/Loading.stories.tsx
  packages/web-foundation/src/components/ui/Typography.stories.tsx
  playwright.config.ts
Due: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

chore: Update lucide-react to 0.555.0
  apps/intrinsic/package.json
  apps/krisarmstrong/package.json
  apps/wifivigilante/package.json
  package-lock.json
  packages/web-foundation/package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

Path conditions:
  tsc-files --noEmit: any of: *.{ts,tsx}
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  npx audit-ci --config audit-ci.json: any of: package.json
