Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit --audit-level=moderate

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write"
  ],
  "package.json": [
    "npm audit --audit-level=moderate"
  ]
}

refactor: Standardize footer implementations across all sites
  apps/intrinsic/src/components/Footer.tsx
  apps/intrinsic/src/config/navigation.tsx
  apps/krisarmstrong/src/components/Footer.tsx
  apps/krisarmstrong/src/config/navigation.tsx
  apps/wifivigilante/src/components/Footer.tsx
  apps/wifivigilante/src/config/navigation.tsx
Due: eslint --fix, prettier --write

refactor: Standardize navbar structure and remove theme diagnostics
  apps/intrinsic/src/__tests__/Navbar.test.tsx
  apps/intrinsic/src/components/Navbar.tsx
  apps/krisarmstrong/src/Layout.tsx
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/tests/Navbar.test.tsx
Due: eslint --fix, prettier --write

refactor: Standardize component imports and cleanup
  apps/intrinsic/screenshot_1.pdf
  apps/intrinsic/screenshot_2.pdf
  apps/krisarmstrong/src/Layout.tsx
  apps/krisarmstrong/src/components/Footer.tsx
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/wifivigilante/src/components/Footer.tsx
  package-lock.json
  packages/web-foundation/src/components/Footer.tsx
Due: eslint --fix, prettier --write

fix: Update semantic-release to v25.0.2 to address security vulnerabilities
  .lintstagedrc.json
  audit-ci.json
  package-lock.json
  package.json
  packages/web-foundation/package.json
Due: prettier --write, npm audit --audit-level=moderate

test: Enable coverage thresholds for krisarmstrong app
  apps/krisarmstrong/vitest.config.ts
Due: eslint --fix, prettier --write

refactor: Consolidate theme initialization across all apps
  apps/intrinsic/index.html
  apps/intrinsic/src/main.tsx
  apps/krisarmstrong/index.html
  apps/krisarmstrong/src/main.tsx
  apps/wifivigilante/index.html
  apps/wifivigilante/src/main.tsx
Due: eslint --fix, prettier --write

chore: Update dev dependencies to latest major versions
  package-lock.json
  package.json
Due: prettier --write, npm audit --audit-level=moderate

docs: Add comprehensive CSP documentation to SECURITY.md
  SECURITY.md
Due: prettier --write

feat: Add bundle analysis and lower chunk size limit
  package.json
  vite.config.base.ts
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

feat: Add React 19 concurrent features for better UX
  apps/wifivigilante/src/hooks/useCaseSearch.ts
  packages/web-foundation/src/components/ContactForm.tsx
  packages/web-foundation/src/components/ContentSearch.tsx
Due: eslint --fix, prettier --write

feat: Add useTransition for non-blocking tag filtering
  apps/krisarmstrong/src/pages/Blog.tsx
Due: eslint --fix, prettier --write

feat: Add useTransition to case tag filtering for consistency
  apps/wifivigilante/src/pages/CaseOverview.tsx
Due: eslint --fix, prettier --write

fix: Navbar consistency and bug fixes across all sites
  apps/intrinsic/src/components/Navbar.tsx
  apps/wifivigilante/src/components/Navbar.tsx
  packages/web-foundation/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

chore: Remove dead code and archive legacy scripts
  .prettierrc.json
  apps/krisarmstrong/legacy-scripts/NEW-POSTS-2024-2025-METADATA.js
  apps/krisarmstrong/legacy-scripts/README.md
  apps/krisarmstrong/legacy-scripts/a11y-smoke.js
  apps/krisarmstrong/legacy-scripts/check-vlan-posts.js
  apps/krisarmstrong/legacy-scripts/generate-2025-posts.js
  apps/krisarmstrong/legacy-scripts/generate-ALL-2025-posts.js
  apps/krisarmstrong/legacy-scripts/generate-all-remaining-posts.js
  apps/krisarmstrong/legacy-scripts/generate-final-posts.sh
  apps/krisarmstrong/legacy-scripts/generate-remaining-posts.js
  apps/krisarmstrong/legacy-scripts/migrate-blog-to-supabase.js
  apps/krisarmstrong/legacy-scripts/query-existing-posts.js
  apps/krisarmstrong/legacy-scripts/security-audit-local.js
  apps/krisarmstrong/legacy-scripts/smoke.sh
  apps/krisarmstrong/legacy-scripts/token-usage-test.cjs
  apps/krisarmstrong/legacy-scripts/token-usage-test.js
  apps/krisarmstrong/legacy-scripts/upload-2021-posts.js
  apps/krisarmstrong/legacy-scripts/upload-2022-posts.js
  apps/krisarmstrong/legacy-scripts/upload-2023-posts.js
  apps/krisarmstrong/legacy-scripts/upload-new-2024-2025-posts.js
  apps/krisarmstrong/legacy-scripts/upload-vlan-posts-part2.js
  apps/krisarmstrong/legacy-scripts/upload-vlan-posts.js
  apps/krisarmstrong/legacy-scripts/weekly-health-aggregator.js
  apps/krisarmstrong/scripts/NEW-POSTS-2024-2025-METADATA.js
  apps/krisarmstrong/scripts/generate-remaining-posts.js
  apps/krisarmstrong/scripts/token-usage-test.js
  apps/krisarmstrong/scripts/upload-2021-posts.js
  apps/krisarmstrong/scripts/upload-2022-posts.js
  apps/krisarmstrong/scripts/upload-2023-posts.js
  apps/krisarmstrong/scripts/weekly-health-aggregator.js
  apps/krisarmstrong/src/components/ThemeDiagnostics.css
  eslint.config.base.js
  packages/web-foundation/src/components/ThemeDiagnostics.tsx
  packages/web-foundation/src/components/ThemeTokenProbe.tsx
  packages/web-foundation/src/styles/storybook.css
Due: eslint --fix, prettier --write

refactor: Complete theme consolidation and semantic HTML improvements
  apps/intrinsic/src/Layout.tsx
  apps/krisarmstrong/src/Layout.tsx
  apps/wifivigilante/src/Layout.tsx
  packages/web-foundation/src/Layout.tsx
  packages/web-foundation/src/components/ThemeProvider.tsx
  packages/web-foundation/src/components/ThemeToggle.tsx
  packages/web-foundation/src/hooks/useTheme.ts
  packages/web-foundation/src/index.ts
  packages/web-foundation/src/utils/initTheme.ts
Due: eslint --fix, prettier --write

fix: Remove invalid CSP directives from meta tags
  apps/intrinsic/index.html
  apps/krisarmstrong/index.html
  apps/wifivigilante/index.html
Due: none

fix: Navbar responsive display and mobile menu positioning
  .claude/settings.local.json
  apps/intrinsic/src/index.css
  apps/krisarmstrong/src/index.css
  apps/wifivigilante/src/index.css
  package-lock.json
  packages/web-foundation/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

refactor: Standardize repository naming conventions and folder structure
  apps/krisarmstrong/src/Layout.tsx
  apps/krisarmstrong/src/components/Testimonials.tsx
  apps/krisarmstrong/src/main.tsx
  apps/krisarmstrong/src/utils/sentry.ts
  apps/wifivigilante/src/main.tsx
  apps/wifivigilante/src/pages/Privacy.tsx
  apps/wifivigilante/src/pages/PrivacyPolicy.tsx
  apps/wifivigilante/src/pages/Terms.tsx
  apps/wifivigilante/src/pages/TermsOfService.tsx
Due: eslint --fix, prettier --write

chore: Bump version to 1.3.4 - repository standardization
  package.json
Due: prettier --write, npm audit --audit-level=moderate

refactor: Consolidate TailwindSafelist component and fix broken tests
  apps/intrinsic/src/Layout.tsx
  apps/intrinsic/src/__tests__/Navbar.test.tsx
  apps/wifivigilante/src/Layout.tsx
  packages/web-foundation/src/components/TailwindSafelist.tsx
  packages/web-foundation/src/index.ts
Due: eslint --fix, prettier --write

chore: Bump version to 1.3.5 - component consolidation
  package.json
Due: prettier --write, npm audit --audit-level=moderate
