Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["npx audit-ci --config audit-ci.json"]
}

chore: Bump version to 1.3.5 - component consolidation
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

refactor: Inline navigation data in components
  apps/intrinsic/src/components/Footer.tsx
  apps/intrinsic/src/components/Navbar.tsx
  apps/intrinsic/src/config/navigation.tsx
  apps/krisarmstrong/src/components/Footer.tsx
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/src/config/navigation.tsx
  apps/wifivigilante/src/components/Footer.tsx
  apps/wifivigilante/src/components/Navbar.tsx
  apps/wifivigilante/src/config/navigation.tsx
Due: eslint --fix, prettier --write

chore: Bump version to 1.3.6 - navigation refactor
  apps/krisarmstrong/tests/Navbar.test.tsx
  apps/krisarmstrong/tests/navigation.test.ts
  apps/wifivigilante/src/tests/Search.test.tsx
  apps/wifivigilante/src/tests/navigation.test.ts
  package.json
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

feat: Add social media links and enhance card hover effects
  .claude/settings.local.json
  apps/intrinsic/src/components/Footer.tsx
  apps/krisarmstrong/src/components/ui/Card.tsx
  apps/wifivigilante/src/components/Footer.tsx
  apps/wifivigilante/src/components/ui/Typography.tsx
  packages/web-foundation/src/Layout.tsx
  packages/web-foundation/src/components/ContentCard.tsx
  packages/web-foundation/src/index.ts
Due: eslint --fix, prettier --write

fix: Update broken imports after component cleanup
  .claude/settings.local.json
  apps/krisarmstrong/src/components/Testimonials.tsx
  apps/wifivigilante/src/components/CaseDisplay.tsx
  apps/wifivigilante/src/pages/About.tsx
  apps/wifivigilante/src/pages/Contact.tsx
  apps/wifivigilante/src/pages/ErrorPage.tsx
  apps/wifivigilante/src/pages/Home.tsx
  apps/wifivigilante/src/pages/PrivacyPolicy.tsx
  apps/wifivigilante/src/pages/TermsOfService.tsx
Due: eslint --fix, prettier --write

refactor: Use ContentCard component in krisarmstrong blog
  apps/krisarmstrong/src/pages/Blog.tsx
Due: eslint --fix, prettier --write

feat: Apply enhanced hover effects to all clickable cards
  apps/intrinsic/src/pages/Services.tsx
  apps/krisarmstrong/src/pages/Home.tsx
  apps/krisarmstrong/src/pages/Projects.tsx
  apps/krisarmstrong/src/pages/Resume.tsx
  apps/wifivigilante/src/pages/Home.tsx
Due: eslint --fix, prettier --write

feat: Add Amazon-style aggregate rating system
  .claude/settings.local.json
  RATINGS-SETUP.md
  SEED-RATINGS-INSTRUCTIONS.md
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/wifivigilante/src/components/CaseDisplay.tsx
  apps/wifivigilante/src/utils/ratings.ts
  packages/web-foundation/src/components/AggregateRating.tsx
  packages/web-foundation/src/index.ts
  seed-ratings.ts
  supabase-ratings-migration.sql
Due: eslint --fix, prettier --write

fix: Remove semantic-release to eliminate glob vulnerability
  package-lock.json
  package.json
  packages/web-foundation/package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

chore: Remove obsolete semantic-release workflow
  .github/workflows/release.yml
Due: prettier --write

test: Remove obsolete Navbar tests after navigation refactor
  .claude/settings.local.json
  apps/intrinsic/src/__tests__/Navbar.test.tsx
  apps/krisarmstrong/tests/Navbar.test.tsx
  apps/wifivigilante/src/tests/Navbar.test.tsx
Due: eslint --fix, prettier --write

test: Skip ContactForm telemetry tests with TypeScript error suppression
  packages/web-foundation/src/components/ContactForm.test.tsx
Due: eslint --fix, prettier --write

test: Fix 7 failing tests in krisarmstrong app
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/krisarmstrong/tests/Resume.test.tsx
Due: eslint --fix, prettier --write

feat: Add showIcon prop to ContentSearch for UI consistency
  packages/web-foundation/src/components/ContentSearch.tsx
Due: eslint --fix, prettier --write

feat: Enhance spacing and layout on WiFiVigilante home page
  apps/wifivigilante/src/pages/Home.tsx
Due: eslint --fix, prettier --write

feat: Apply consistent spacing enhancements to WiFiVigilante About page
  apps/wifivigilante/src/pages/About.tsx
Due: eslint --fix, prettier --write

feat: Add WiFiVigilante logo to navbar and complete favicon implementation
  apps/wifivigilante/index.html
  apps/wifivigilante/public/apple-touch-icon.png
  apps/wifivigilante/public/favicon-16x16.png
  apps/wifivigilante/public/favicon-32x32.png
  apps/wifivigilante/public/icon-192x192.png
  apps/wifivigilante/public/logo-48.png
  apps/wifivigilante/public/logo-56.png
  apps/wifivigilante/public/logo-56@2x.png
  apps/wifivigilante/public/logo-source.png
  apps/wifivigilante/public/manifest.webmanifest
  apps/wifivigilante/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

feat: Add Intrinsic Momentum Mindset logo with responsive navbar and PWA support
  apps/intrinsic/index.html
  apps/intrinsic/public/apple-touch-icon.png
  apps/intrinsic/public/favicon-16x16.png
  apps/intrinsic/public/favicon-32x32.png
  apps/intrinsic/public/icon-192x192.png
  apps/intrinsic/public/icon-512x512.png
  apps/intrinsic/public/logo-48.png
  apps/intrinsic/public/logo-56.png
  apps/intrinsic/public/logo-56@2x.png
  apps/intrinsic/public/logo-source.png
  apps/intrinsic/public/manifest.webmanifest
  apps/intrinsic/src/components/Navbar.tsx
Due: eslint --fix, prettier --write

fix: Improve light mode styling with accent borders and softer backgrounds
  apps/krisarmstrong/src/index.css
  apps/wifivigilante/src/index.css
Due: none

fix: Further darken light mode and make ContentCard fully clickable
  apps/krisarmstrong/src/index.css
  apps/wifivigilante/src/index.css
  packages/web-foundation/src/components/ContentCard.tsx
Due: eslint --fix, prettier --write
