Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["npx audit-ci --config audit-ci.json"]
}

test: Remove flaky ContactForm tests incompatible with React 19 useOptimistic
  packages/web-foundation/src/components/forms/ContactForm.minimal.test.tsx
  packages/web-foundation/src/components/forms/ContactForm.test.tsx
Due: eslint --fix, prettier --write

chore: Add vercel.json for krisarmstrong and wifivigilante
  apps/krisarmstrong/vercel.json
  apps/wifivigilante/vercel.json
Due: prettier --write

fix: Add no-cache header for index.html to prevent stale chunk errors
  apps/intrinsic/vercel.json
  apps/krisarmstrong/vercel.json
  apps/wifivigilante/vercel.json
Due: prettier --write

feat: Add deterministic Case of the Day with awareness month integration
  apps/intrinsic/public/sitemap.xml
  apps/wifivigilante/database/migrations/001_add_case_of_day_support.sql
  apps/wifivigilante/package.json
  apps/wifivigilante/public/sitemap.xml
  apps/wifivigilante/src/api.ts
  apps/wifivigilante/src/pages/CaseOfTheDay.tsx
  apps/wifivigilante/src/tests/setup.ts
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

fix: Resolve card click navigation and chunk loading errors
  apps/krisarmstrong/src/main.tsx
  apps/wifivigilante/src/main.tsx
  packages/web-foundation/src/components/content/ContentSearch.tsx
  packages/web-foundation/src/components/content/SiteSearch.tsx
  packages/web-foundation/src/components/display/ContentCard.test.tsx
  packages/web-foundation/src/components/display/ContentCard.tsx
Due: eslint --fix, prettier --write

chore: Remove obsolete migration files and update .gitignore
  .gitignore
  apps/krisarmstrong/scripts/2022-content-calendar.json
  apps/krisarmstrong/scripts/MIGRATION_README.md
  apps/krisarmstrong/scripts/supabase-schema.sql
  apps/krisarmstrong/vlan-blog-posts.json
  apps/krisarmstrong/vlan-fridays-posts.json
  apps/wifivigilante/database/CLEAN_START.sql
  apps/wifivigilante/database/import_data.sql
  apps/wifivigilante/database/restore_database.sql
  scripts/check-rating-api.js
  supabase-ratings-migration.sql
Due: eslint --fix, prettier --write

fix: Add security hardening for database operations
  apps/krisarmstrong/src/lib/supabase.ts
  apps/wifivigilante/src/api.ts
  apps/wifivigilante/src/utils/ratings.ts
Due: eslint --fix, prettier --write

feat: Add Playwright E2E smoke tests for all 3 apps
  .gitignore
  e2e/intrinsic.smoke.spec.ts
  e2e/krisarmstrong.smoke.spec.ts
  e2e/wifivigilante.smoke.spec.ts
  package-lock.json
  package.json
  playwright.config.ts
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

feat: Expand E2E smoke tests with comprehensive coverage
  e2e/intrinsic.smoke.spec.ts
  e2e/krisarmstrong.smoke.spec.ts
  e2e/wifivigilante.smoke.spec.ts
Due: eslint --fix, prettier --write

feat: Add data loading verification smoke tests
  e2e/intrinsic.smoke.spec.ts
  e2e/krisarmstrong.smoke.spec.ts
  e2e/wifivigilante.smoke.spec.ts
  playwright.config.ts
Due: eslint --fix, prettier --write

test: Improve krisarmstrong unit test coverage to meet thresholds
  apps/krisarmstrong/tests/Blog.test.tsx
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/krisarmstrong/tests/share.test.ts
  apps/krisarmstrong/vitest.config.ts
Due: eslint --fix, prettier --write

test: Raise coverage thresholds to 90%
  apps/krisarmstrong/tests/Blog.test.tsx
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/krisarmstrong/tests/Resume.test.tsx
  apps/krisarmstrong/vitest.config.ts
  apps/wifivigilante/vitest.config.ts
  packages/web-foundation/vitest.config.ts
Due: eslint --fix, prettier --write

test: Increase coverage thresholds to 92-97%
  apps/krisarmstrong/tests/Blog.test.tsx
  apps/krisarmstrong/tests/BlogPost.test.tsx
  apps/krisarmstrong/vitest.config.ts
  apps/wifivigilante/vitest.config.ts
  packages/web-foundation/vitest.config.ts
Due: eslint --fix, prettier --write

fix: Address code review findings across all workspaces
  apps/intrinsic/package.json
  apps/intrinsic/src/components/Footer.tsx
  apps/intrinsic/src/components/Navbar.tsx
  apps/intrinsic/src/pages/Contact.tsx
  apps/intrinsic/src/pages/ErrorPage.tsx
  apps/krisarmstrong/src/components/Timeline.tsx
  apps/krisarmstrong/src/components/ui/Skeleton.tsx
  package-lock.json
  packages/web-foundation/src/components/display/AggregateRating.tsx
  packages/web-foundation/src/components/display/StarRating.tsx
  packages/web-foundation/src/components/display/index.ts
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

fix: Resolve remaining code review defects (#87, #88, #93, #95)
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/src/lib/supabase.ts
  apps/krisarmstrong/src/pages/BlogPost.tsx
  apps/krisarmstrong/tests/Blog.test.tsx
  packages/web-foundation/src/components/content/ActiveFilterBadges.tsx
  packages/web-foundation/src/components/content/ContentSort.tsx
  packages/web-foundation/src/components/feedback/Loading.tsx
Due: eslint --fix, prettier --write

chore: improve git hooks and automation setup
  .github/CODEOWNERS
  .github/dependabot.yml
  .lintstagedrc.json
  commitlint.config.js
  package-lock.json
  package.json
Due: eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

fix: reorder pre-push hook for fail-fast execution
  .husky/pre-push
Due: none

chore: tighten env ignore rules
  .gitignore
Due: none

fix: correct technical accuracy issues in blog posts
  apps/krisarmstrong/src/content/blog/posts/2024-2025-new/thermal-management-wifi7-access-points-sep2025.md
  apps/krisarmstrong/src/content/blog/posts/multi-gigabit-ethernet-deployment-jun2022.md
  apps/krisarmstrong/src/content/blog/posts/wifi7-infrastructure-preparation-jun2025.md
Due: prettier --write

fix: clarify PoE power specs in 3 more blog posts
  apps/krisarmstrong/src/content/blog/posts/2024-2025-new/outdoor-wifi6e-campus-networks-sep2024.md
  apps/krisarmstrong/src/content/blog/posts/wifi6-two-year-retrospective-jul2022.md
  apps/krisarmstrong/src/content/blog/posts/wifi6e-deployment-experiences-jan2022.md
Due: prettier --write
