Repository krisarmstrong/krisarmstrong-web: changes, and which lint-staged commands are due for each by the changed paths.
All: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

.lintstagedrc.json:

{
  "*.{ts,tsx}": ["tsc-files --noEmit", "eslint --fix", "prettier --write"],
  "*.{js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "package.json": ["npx audit-ci --config audit-ci.json"]
}

feat: Improve UI/UX accessibility and performance
  apps/krisarmstrong/src/components/Navbar.tsx
  apps/krisarmstrong/src/pages/Home.tsx
  apps/wifivigilante/src/components/Navbar.tsx
  apps/wifivigilante/src/pages/Home.tsx
  packages/web-foundation/src/components/display/ContentCard.tsx
  packages/web-foundation/src/hooks/useReducedMotion.ts
  packages/web-foundation/src/index.ts
  packages/web-foundation/src/themes/krisarmstrong.css
  packages/web-foundation/src/themes/wifivigilante.css
Due: tsc-files --noEmit, eslint --fix, prettier --write

chore: bump version to 1.3.14
  package-lock.json
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

fix: Security and responsiveness improvements
  apps/intrinsic/src/components/Navbar.tsx
  apps/wifivigilante/src/components/CaseContentRenderer.tsx
  packages/web-foundation/src/index.ts
  packages/web-foundation/src/utils/errorTracking.ts
Due: tsc-files --noEmit, eslint --fix, prettier --write

chore: bump version to 1.3.15
  package-lock.json
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

test: Improve test coverage and fix warnings
  apps/krisarmstrong/tests/About.test.tsx
  apps/krisarmstrong/tests/Home.test.tsx
  apps/wifivigilante/package.json
  packages/web-foundation/src/components/display/AggregateRating.test.tsx
Due: tsc-files --noEmit, eslint --fix, prettier --write, npx audit-ci --config audit-ci.json

chore: bump version to 1.3.16
  package-lock.json
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

chore: bump version to 1.3.17
  package-lock.json
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

chore: bump version to 1.3.49
  package-lock.json
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

chore: bump version and add license
  .editorconfig
  LICENSE
  package-lock.json
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

chore: standardize tooling and bump version to v1.3.51
  .github/workflows/release-please.yml
  .gitignore
  .pre-commit-config.yaml
  apps/intrinsic/package.json
  apps/krisarmstrong/README.md
  apps/krisarmstrong/package.json
  apps/wifivigilante/README.md
  apps/wifivigilante/VERSION
  apps/wifivigilante/package.json
  package-lock.json
  package.json
  packages/web-foundation/package.json
Due: prettier --write, npx audit-ci --config audit-ci.json

feat: add check.sh and update release.yml to use CHANGELOG extraction
  .github/workflows/release.yml
  check.sh
Due: prettier --write

chore: add platinum TypeScript linting standards
  .node-version
  biome.json
Due: prettier --write

chore(deps): update dependencies and tooling
  apps/intrinsic/public/sitemap.xml
  apps/wifivigilante/public/sitemap.xml
  package-lock.json
  package.json
Due: prettier --write, npx audit-ci --config audit-ci.json
